**/*
!build/client/extension.js
!build/server/Nezaboodka.Nevod.LanguageServer.exe
!build/server/Nezaboodka.Nevod.LanguageServer
!build/server/*.dll
!build/server/*.so
!build/server/*.dylib
!package.json
!LICENSE
!syntaxes
!language-configuration.json
!icon.png
