**/*
!out/client/extension.js
!out/server/Nezaboodka.Nevod.LanguageServer.exe
!out/server/Nezaboodka.Nevod.LanguageServer
!out/server/*.dll
!out/server/*.so
!out/server/*.dylib
!package.json
!LICENSE
!syntaxes
!language-configuration.json
!icon.png
